/* Scrollbar styles */
.carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
}

.carousel-item {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  flex: 1 1 300px; /* Ajustar el tamaño de los elementos */
  max-width: 320px; /* Para mantener un tamaño consistente */
  box-sizing: border-box;
}

.carousel-item.frontend {
  border: 2px solid #00bfff; /* Borde color Frontend */
}

.carousel-item.backend {
  border: 2px solid #32cd32; /* Borde color Backend */
}

.carousel-item.innovation {
  border: 2px solid #ffa500; /* Borde color Innovación y Gestión */
}

.video-title {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

.video-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.video-actions button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.video-actions button:hover {
  color: #ccc;
}
